.App {
  height: 100vh;
  background: url("https://freerangestock.com/sample/140290/romantic-couple-watching-the-stars--love-on-the-milky-way.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  perspective: 1800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ButtonONOFF{
    bottom:70px;
    margin-top: 15px;
    background: transparent;
    border-style: none;
    color: white !important;
    cursor: pointer;
    font-size: 20px;
}
.first{
    width: 1056px;
    height: 584px;
    display: flex;
    justify-content: center;
    background: url("https://data.whicdn.com/images/265060879/original.gif");
    background-size: cover;
    position: absolute;
    top:0;
    left: 0;
    transition: 3s;
}
.screen{
    width: 1000px;
    height: 500px;
    padding: 25px 28px;
    transition: 0.8s;
    background: url("https://freerangestock.com/sample/140290/romantic-couple-watching-the-stars--love-on-the-milky-way.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
    box-shadow:0px 0px 57px 17px rgb(0 0 0 / 48%) ; 
    
}
.ul{
    position: absolute;
    margin: 0;
    margin-top: -12px;
    padding: 0;
    transition:all 3600ms linear;
    display: flex;
    list-style: none;
}
.list{
    perspective: 3000px;
    width: 944px;
    height: 450px;
    margin: 20px 45px;
    margin-left: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imges{
    transform:rotate3d(11, 0, 0, -32deg);
    width: inherit;
    height: inherit;
    box-shadow:0px -17px 33px -5px rgb(255 255 255 / 30%);
}
.next,.prev{
    width: 40px;
    height: 550px;
    background: transparent;
    border: none;
    position: absolute;
    top: 0;
    right: 0;

    font-size: 24px;
}
.prev{
    left: 0;
}
.next:hover,.prev:hover{
    background: rgba(115, 224, 75, 0.308);
    cursor: pointer;
    color: white;
}


@media screen and (max-width:500px) {
    .App{
        background-position-x:center;
    }
    .ButtonONOFF{
        position:absolute;

    }
    .first{
        width: 328px;
        height: 452px;
    }
    .screen{
        width:272px;
        height: 400px;
    }
    .ul{
        perspective: 775px;

    }
    .list{
        perspective: 1500px;
        width: 216px;
        height: 322px;
    }   
    .next,.prev{
        width: 30px;
        height: 450px;
    }
    
    audio::-webkit-media-controls-panel {
        background: url("https://freerangestock.com/sample/140290/romantic-couple-watching-the-stars--love-on-the-milky-way.jpg") !important;
        background-position: center;
        
    }
    .audio{
        height: 25px;
        position: absolute;
        bottom: 25px;
    }
}